* {
  padding: 0px;
  margin: 0px;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: auto;
  font-family: 'Roboto', sans-serif;
  background: #fafafa;
  font-weight: 300;
  color: #222;
  margin: 0 auto;
}

html {
  height: 100%;
}

body {
  overflow-x: hidden;
  min-height: 100%;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: #222;
  /* margin: 1em; */
}

nav a:visited {
  text-decoration: none;
  color: #222;
}

form div {
  margin: 1em;
  display: inline-block;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-family: 'Vollkorn', serif;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

h3 {
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

nav {
  margin: 2rem 0rem;
  text-align: center;
  font-weight: 600;
}

nav h1 {
  margin-top: 1rem;
  font-family: 'Vollkorn', serif;
}

.nav-link {
  font-size: 1.25rem;
  color: #333;
  font-weight: 400;
}

/* large phones and small tablets */
@media screen and (min-width: 500px) {
  h1 {
    font-size: 3rem;
  }
}

/* tablets and small monitors */
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
}

/* laptops and desktops */
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }

  body {
    font-size: 1rem;
  }
}
