/* #root {
  overflow: hidden;
  background: #f0f0f0;
} */

.card1,
.card2,
.card3,
.card4 {
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.card1 {
  width: 60vw;
  height: 60vh;
  max-width: 70ch;
  max-height: 70ch;
}

.card2 {
  width: 12vh;
  height: 12vh;
}

.card3 {
  opacity: 0.9;
  width: 60vw;
  height: 60vh;
  max-width: 70ch;
  max-height: 70ch;
}

.card4 {
  opacity: 0.9;
  width: 60vw;
  height: 60vh;
  max-width: 70ch;
  max-height: 70ch;
}

.card5 {
  opacity: 0.9;
  width: 60vw;
  height: 60vh;
  max-width: 70ch;
  max-height: 70ch;
}

.container {
  width: 100%;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
